.App {
  text-align: center;
}

h2 {
  font-family: Arial;
  color: black;
}

h3 {
  font-family: 'Times New Roman';
  color: goldenrod;
}

.desired-format {
  color: grey;
}

.submit {
  background-color: goldenrod;
  width: 100px;
  height: 30px;
  font-size: 20px;
}




